/* .columnEmptyDiv {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 37.6px;
} 

.columnHeader h4{
    font-weight: bold;
}

.movieInfo {
    border-bottom: 1px solid gray;
    padding: 0 0 20px 0;
}

.buttonContainer {
    border-bottom: 1px solid gray;
    padding: 0px 0 11px 0;
} 

.columnHeader {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px 0 20px 0;
} */