
body {
    margin: 40px; /* gives margin to top*/
}

.container {
    display: grid;
    /* column-gap: 10px;
    row-gap: 10px; */
    grid-template-columns: repeat(9, [col] auto); 
    grid-template-rows: repeat(2, [row] auto);
    /* background-color: #fff;
    color:#444; */
    margin: auto; /* centers main grid*/
}

.containerNone {
    display: none;
}

.box {
    /* background-color: #444;
    color: #fff; */
    border-radius: 5px;
    font-size: 150%;
}

.box .box {
    background-color: #ccc;
    color: #fff;
}

.filter {
    grid-column: col / span 2;
    grid-row: row / span 2;
}

.header {
    grid-column: col 3 / span 7;
    grid-row: row;
}

.table {
    grid-column: col 3 / span 7;
    grid-row: auto;
    display: grid;
    /* column-gap: 10px; */
    grid-template-columns: 2fr repeat(5, 1fr);
    grid-template-rows: repeat(5, 100px);
    /* margin-bottom: 0; */
    align-items: center;
    padding-top: 20px;
}





